.chart-vertical-grid-lines,
.chart-horizontal-grid-lines {
	-fx-stroke: transparent;
}

.chart-line-symbol {
	-fx-shape: "";
}

.chart-legend {
	-fx-translate-x: -145;
	-fx-translate-y: -325;
	-fx-font-family: 'consolas', 'monospaced';
}

.chart-series-line {
	-fx-stroke-width: 1px;
	-fx-effect: null;
}

.default-color0.chart-series-line {
	-fx-stroke: #e9967a;
}

.default-color1.chart-series-line {
	-fx-stroke: #f0e68c;
}

.default-color2.chart-series-line {
	-fx-stroke: #dda0dd;
}

.default-color0.chart-line-symbol {
	-fx-background-color: #e9967a;
}

.default-color1.chart-line-symbol {
	-fx-background-color: #f0e68c;
}

.default-color2.chart-line-symbol {
	-fx-background-color: #dda0dd;
}