.root {
	/* -fx-font-size: 1.075em; */
	-fx-font-size: 1.2em;
}

.standard-padding {
	-fx-padding: 20;
}

.standard-main-container {
	-fx-padding: 20;
	-fx-spacing: 50;
}

.smaller-main-container {
	-fx-padding: 20;
	-fx-spacing: 15;
}

.more-smaller-main-container {
	-fx-padding: 0 20 20 20;
	-fx-spacing: 15;
}

.standard-sub-container {
	-fx-spacing: 25;
}

.smaller-sub-container {
	-fx-spacing: 10;
}

.standard-sub-sub-container {
	-fx-spacing: 10;
}

.button {
	-fx-background-color: #287BDE;
	-fx-text-fill: white;
}

.button:hover {
	-fx-background-color: rgb(75, 142, 224);
}

.label {
	-fx-wrap-text: true;
}

.main-label {
	-fx-font-size: 1.6em;
	-fx-font-weight: bold;
}

.sub-label {
	-fx-font-size: 1.2em;
	-fx-font-weight: bold;
}

.successful-label {
	-fx-text-fill: #28a746;
}

.warning-label {
	-fx-text-fill: #db2638;
}

.row-good-allocation {
	-fx-background-color: #28a74662;
}

.row-bad-allocation {
	-fx-background-color: #dc354663;
}