.file-loader-container:hover>.button {
	-fx-background-color: rgb(75, 142, 224);
	/* before we added explicit button styles */
	/* -fx-color: -fx-hover-base; */
}

.file-loader-container:armed>.button {
	/* before we added explicit button styles */
	-fx-color: -fx-pressed-base;
}

.text-field:hover {
	-fx-cursor: default;
}

.text-field:disabled {
	-fx-cursor: default;
}

.text-field:focused {
	-fx-cursor: default;
}

.text-field:pressed {
	-fx-cursor: default;
}

.text-field:show-mnemonic {
	-fx-cursor: default;
}