/* .file-loader-container:disabled>.button {
	-fx-background-color: #287BDE;
	-fx-text-fill: white;
} */

.file-loader-container:hover>.button {
	-fx-background-color: rgb(75, 142, 224);
}

.text-field:hover {
	-fx-cursor: default;
}

.text-field:disabled {
	-fx-cursor: default;
}

.text-field:focused {
	-fx-cursor: default;
}

.text-field:pressed {
	-fx-cursor: default;
}

.text-field:show-mnemonic {
	-fx-cursor: default;
}